* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background-color: #16192d;
}
body {
  background: #0c0f21;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style-type: none;
}
/* Header Start */
header {
  display: flex;
  align-items: center;
  background-color: #1b1d2f;
  color: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #2c314f;
}
header .logo {
  display: flex;
  align-items: center;
}
header .header-a {
  text-decoration: none;
  color: #838383;
  margin-left: 1rem;
}
header a.header-a.active {
  color: #ffffff;
}
header .header-a:hover {
  color: #ffffff;
}

header .search-bar {
  width: 120px;
  font-size: 12px;
  border: none;
  background-color: #0c0f21;
  color: #ffffff;
  padding: 5px 5px 5px;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}

header .search-bar:focus {
  width: 100%;
}

header .search-bar:hover {
  width: 100%;
}

.profiles-dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.profiles-dropdown i {
  margin-left: 5px;
}

.profiles-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

.profiles-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profiles-dropdown-content a:hover {
  background-color: #f1f1f1;
}

.profiles-dropdown:hover .profiles-dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {
  header {
    display: block;
    text-align: center;
    font-size: 12px;
  }

  header a {
    margin-bottom: 20px;
    margin-left: 0;
  }
}
/* Header End */

/* Main Start */
.main {
  margin: 20px;
}
.main .section.sm-cards-md {
  margin: 20px;
  padding: 15px 15px 0 15px;
  background-color: #1b1d2f;
  color: #ffffff;
  border-radius: 10px;
}
.main .section.cards-md {
  margin: 20px;
  padding: 15px 15px 0px 15px;
  background-color: #1b1d2f;
  color: #ffffff;
  border-radius: 10px;
}
.main .section .title .plus {
  float: right;
  color: #838383;
  text-decoration: none;
}
.main .section .title .plus:hover {
  color: #ffffff;
}
.main .section .cards {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.main .section .cards .MovieBlock {
  min-height: 280px;
  display: inline-block;
  position: relative;
  min-width: 200px;
  max-width: 260px;
  margin: 0 10px 20px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #181d25;
}
.main .section .cards .MovieBlock.cw-block {
  min-height: 160px;
  width: 280px;
  min-width: 280px;
  max-width: 380px;
}
.main .section .cards .MovieBlock.cw-block .line {
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: #ce0000;
  border: none;
}
.main .section .cards .MovieBlock .Poster {
  display: block;
  width: 100%;
  height: 280px;
  overflow: hidden;
  background-size: 100% 100%;
}
.main .section .cards .MovieBlock .cw-Poster {
  height: 160px;
}
.main .section .cards .MovieBlock .Poster > img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 10;
  max-width: 100%;
}
.main .section .cards::-webkit-scrollbar {
  display: none;
}
.main .section .cards-genre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}
.main .section .cards-genre > a {
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 8px;
  background-color: rgba(189, 196, 236, 0.06);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237.471px;
  height: 115.514px;
}
.main .section .cards-genre > a .genere {
  text-align: center;
  font-size: 18px;
  padding: 10px;
}
.main .section .cards-genre > a .genere:hover,
.main .section .cards-genre > a:hover {
  background-color: #ffffff;
  color: #000000;
}
.main .section .cards-genre::-webkit-scrollbar {
  display: none;
}
/* Main End */

/* Spinner Start */
.spinner {
  margin: 185px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  -webkit-transition: 0.4s all cubic-bezier(1, -1.07, 0, 1.57);
  -o-transition: 0.4s all cubic-bezier(1, -1.07, 0, 1.57);
  transition: 0.4s all cubic-bezier(1, -1.07, 0, 1.57);
}
.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
  margin: 0 2px;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* Spinner End */

/* Footer Start */
footer {
  text-align: center;
  color: #ffffff;
  direction: ltr;
  margin: 25px 0 25px 0;
}
/* Footer End */

/* Profile Start */
.title-profile {
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
.profile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
.profile-item {
  border: none;
  background-color: #0c0f21;
  color: #ffffff;
  font-size: 20px;
  margin: 10px;
}
.profile-item:hover,
.profile-avatar:hover {
  background-color: #2c314f;
  border-radius: 20px;
}
.profile-avatar {
  width: 220px;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1b1d2f;
}
.profile-username {
  text-align: center;
  margin: 10px 0 0;
}
/* Profile End */

/* Account Info Start */
.account-info {
  margin: 25px;
  padding: 25px 25px 25px 25px;
  background-color: #1b1d2f;
  color: #ffffff;
  border-radius: 10px;
}

.account-info .title {
  color: #f5f5f5;
  margin-bottom: 20px;
}

.account-info .info {
  color: #cccccc;
  margin-bottom: 10px;
}
/* Account Info End */

/* Sign In Page Start */
.login-pg-title {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.login-pg-desc {
  color: #cccccc;
  font-size: 15px;
  text-align: center;
}

.login-container {
  padding: 5%;
}

.form-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-btn-container {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.sign-up-btn-container li {
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px;
}

.sign-up-apple {
  background-color: #000000;
}

.sign-up-facebook {
  background-color: #1729ce;
}

.sign-up-google {
  background-color: #ffffff;
}
.sign-up-google a {
  color: #000000;
}
.sign-in-form-container {
  width: 100%;
  max-width: 400px;
  color: #ffffff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #1b0f33;
  color: #ffffff;
  border: none;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #2c1854;
}

/* Sign In Page End */
/* Payment Page Start */
.payment-container {
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.heading-blue {
  color: #ff0000;
  margin-bottom: 20px;
}

.heading-red {
  color: #ffffff;
  margin-top: 20px;
}

.payment-option {
  background-color: #111;
  padding: 20px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d00;
}

.link-blue {
  color: #00f;
  text-decoration: none;
}

.link-blue:hover {
  text-decoration: underline;
}
/* Payment Page End */
/* Subscribe Page Start */
.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.blue-heading {
  color: #00f;
  margin-bottom: 20px;
}

.red-heading {
  color: #f00;
}

.pricing-wrapper {
  display: flex;
  justify-content: space-between;
}

.pricing-box {
  width: calc(40% - 20px);
  background-color: #111;
  padding: 20px;
  margin-bottom: 20px;
}
.pricing-box h2 {
  color: #ff0000;
}
.pricing-box p {
  color: #fff;
  margin-bottom: 10px;
}

.feature-list {
  list-style-type: none;
  color: #fff;
  margin-bottom: 10px;
}
.feature-list-item {
  margin-bottom: 5px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: #d00;
}
/* Subscribe Page End */

.show-details {
  display: flex;
  margin-bottom: 60px;
  background-color: #16192d;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  padding: 20px;
}

.show-poster img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}

.show-info {
  flex: 1;
}

.show-info h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.genre {
  font-style: italic;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 5px;
}

.cast,
.seasons,
.rating {
  margin-bottom: 5px;
}

.watch-btn {
  font-family: "ITC Benguiat", serif;
  background-color: #dc3545;
  color: #ffffff;
  border: 2px solid #dc3545;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.watch-btn:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.similar-shows {
  margin-top: 20px;
}

.similar-shows h2 {
  font-size: 10px;
  margin-bottom: 10px;
}

.show-list {
  display: flex;
  justify-content: space-between;
}

.show-item {
  width: 30%;
}

.show-item img {
  width: 70%;
  height: auto;
  margin-bottom: 10px;
}

.show-title {
  font-size: 13px;
  text-align: center;
}

#p {
  color: #8d8d8d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: unset;
}
/* Body styles */

#header-h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#section {
  background-color: #16192d;
  color: #fff;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 20px;
}

#h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

#label {
  display: block;
  margin-bottom: 5px;
}

.bashar-input {
  background-color: #f8f8fa;
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

#button {
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
main {
  color: #ffffff;
}

#personal-info,#password,#payment-info,#preferences {
  background-color: #16192d;
  color: #fff;
  background-color: rgb(255, 255, 255) 505;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 20px;
}

#personal-info h2,
#password h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}

#personal-info form button,
#password form button {
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

#personal-info form label,
#password form label {
  display: block;
  margin-bottom: 5px;
}

